@{
    List<HarrisZhang.Blog.Display.Vo.SummaryVo> postEntityList = ViewBag.PostsList as List<HarrisZhang.Blog.Display.Vo.SummaryVo>;
}

@section styles{
    <link href="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/photoswipe/4.1.2/default-skin/default-skin.min.css" rel="stylesheet">
}

@section scripts{
    <script src="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe.min.js"></script>
    <script src="https://cdn.bootcss.com/photoswipe/4.1.2/photoswipe-ui-default.min.js"></script>
    <script>
        $(function () {
            $("img.lazy").lazyload({ effect: "fadeIn" });

            function openPhotoSwipe() {

                var current = this;
                var currentIndex = 0;
                var items = [];

                var parent = this.closest('.talk-image-list');
                $(parent).find('.talk-image-item').each(function (index, element) {

                    items.push({ src: $(this).data('imageurl'), w: $(this).data('width'), h: $(this).data('height') });

                    if (current == element) {
                        currentIndex = index;
                    }
                });

                var pswpElement = document.querySelectorAll('.pswp')[0];

                // define options (if needed)
                var options = {
                    // optionName: 'option value'
                    // for example:
                    index: currentIndex // start at first slide
                };

                // Initializes and opens PhotoSwipe
                var gallery = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
                gallery.init();
            }

            $('.talk-image-item').click(openPhotoSwipe);
        })
    </script>
}


<div class="ui container">

    @if (postEntityList != null)
    {
            foreach (var item in postEntityList)
            {
                <div class="ui segment">
                    @if (item.ItemType == 1)
                    {
                        <p class="post_title"><a href="~/post/@item.Ename">@item.Title</a></p>
                        <div class="item-desc"><p><a href="~/post/@item.Ename">@item.Body</a></p></div>
                        <div class="talk-time">
                            <span>@item.PublishTime.Value.ToString("yyyy-MM-dd")</span>
                        </div>
                    }
                    else
                    {
                        <p class="talk-content">@item.Body</p>
                        if (item.ImageList != null && item.ImageList.Count > 0)
                            {
                                <ul class="talk-image-list">
                                    @foreach (var image in item.ImageList)
                                    {
                                        <li class="talk-image-item" data-imageurl="@image.ImageUrl" data-width="@image.Width" data-height="@image.Height"><img class="talk-image lazy" data-original="@image.ImageUrl" /></li>
                                    }
                                </ul>
                            }
                        <div class="talk-time">
                            <span>@item.PublishTime.Value.ToString("yyyy-MM-dd")</span>
                        </div>
                    }
                </div>
            }
    }

</div>

<div class="ui container post_paging">
    @if (ViewBag.PageIndex > 1)
    {
        <a class="ui button" href="@string.Format("/posts/{0}", ViewBag.PageIndex - 1)">Prev</a>
    }
    @if (ViewBag.PageIndex < ViewBag.PageCount)
    {
    <a class="ui button" href="@string.Format("/posts/{0}", ViewBag.PageIndex + 1)">Next</a>
    }
</div>

<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe.
         It's a separate element as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides.
            PhotoSwipe keeps only 3 of them in the DOM to save memory.
            Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

        </div>

    </div>

</div>